body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Source Sans Pro;
	color: #667;
}
.clear {
	clear: both;
}
.fco {
	color: #b54321;
}
.cb {
	background-color: #b1fdda;
}
.clb {
	background-color: #86bda4;
}
.cp {
	background-color: #d29423;
}
.cn {
	background-color: #000000cc;
}
.co {
	background-color: #9e2400bf;
}
.cursor {
	cursor: pointer;
}
.margin_bottom {
	margin-bottom: 20px;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.no_padding {
	padding: 0;
}
.subtitlu {
	font-size: 17px;
	font-family: Montserrat;
	margin-bottom: 10px;
}
.titlu {
	font-size: 20px;
	font-family: Montserrat;
}
.header {
	padding-top: 10px;
	padding-bottom: 10px;
	background: black;
}
.header_right a {
	color: #eaecf1;
	margin-left: 10px;
}
.header_left a {
	color: #eaecf1;
	margin-right: 10px;
}
.meniu {
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0,0,0,0.2);
}
.meniu_list {
	padding-top: 5px;
}
.meniu a {
	color: #eaecf1;
	margin-left: 20px;
	font-size: 15px;
}
.slider {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
}
.settings {
	padding: 10px;
	background-color: rgba(0,0,0,0.7);
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	position: fixed;
	left: 0;
	top: 20%;
	z-index: 20;
	color: #eaecf1;
	font-size: 25px;
	
}
.set_color {
	background-color: rgba(0,0,0,0.7);
	padding: 10px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.servicii_list {
	list-style-type: none;
	position: absolute;
    top: 55px;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
}
.services_line {
	height: 2px;
	width: 100%;
	background-color: #b54321;
}
.text_slider {
	position: absolute;
	top: 30%;
	left: 126.5px;
	color: #eaecf1;
	font-weight: 600;
}
.text_slider h2 {
	font-weight: 600;
	font-size: 44px;
}
.slider_activ {
	position: relative;
}
.see_features {
	width: 144px;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #b54321;
	border-radius: 20px;
}
.see_features a {
	color: #eaecf1;
}
.sect3_img {
	font-size: 80px;
}
.line {
	width: 30px;
	height: 2px;
	background-color: #b54321;
	margin: auto;
}
.line2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.fade1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.2);
	top: 0;
	left: 0;
}
.fade2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
}
.slick-slide {
	position: relative;
}
.sectiune3 {
	margin-bottom: 50px;
}
.sect4_img {
	height: 400px;
	background-image: url(/web/proiect/img/bg16.jpg); 
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
}
.sect4_text {
	padding: 50px 70px;
	background-color: #000000cc;
	height: 400px;
}
.line3 {
	width: 30px;
    height: 2px;
    background-color: #b54321;
}
.sectiune5 {
	margin-top: 20px;
	margin-bottom: 50px;
}
.sect5 {
	font-size: 40px;
	padding-top: 10px;
}
.margin_top {
	margin-top: 30px;
}
.sect6 {
	padding: 40px 20px;
	position: relative;
}
.sect6_abs {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 60px;
	opacity: 0.5;
}
.sectiune7 {
	margin-top: 50px;
}
.sect7_right {
	margin-left: 20px;
}
.sect7_img_home {
	margin-top: 50px;
}
.sect7_img1 {
	height: 300px;
	background-image: url(/web/proiect/img/p01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
}
.sect7_img2 {
	height: 300px;
	background-image: url(/web/proiect/img/p11.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
}
.sect7_img3 {
	height: 300px;
	background-image: url(/web/proiect/img/p03.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 10px solid white;
}
.sect7_img4 {
	height: 300px;
	background-image: url(/web/proiect/img/p04.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid white;
}
.sect7_img5 {
	height: 300px;
	background-image: url(/web/proiect/img/p05.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid white;
}
.sect7_img6 {
	height: 300px;
	background-image: url(/web/proiect/img/p06.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.sectiune8 {
	margin-top: 50px;
}
.sect8_part1 {
	background-color: #000000cc;
	padding: 40px;
}
.sectiune9 {
	padding: 30px 0px 50px;
	background-color: #000000cc;
}
.sectiune9 img {
	margin-top: 20px;
	opacity: 0.5;
}
.sect10_part1 {
	padding: 50px 20px 50px;
}
.sect10_part2 {
	padding: 50px 20px 50px;
	background-color: #000000cc;
	position: relative;
}
.quote {
	position: absolute;
	bottom: 0;
	right: 15px;
	font-size: 60px;
	opacity: 0.5;
}
.sect11 {
	padding: 50px 20px;
}
.sectiune12 {
	background-color: #000000cc;
	padding: 50px 0px 20px;
	color: white;
}
.sectiune12 a {
	color: white;
}
.sect12_list1 {
	margin-bottom: 25px;
	margin-right: 25px;
}
.sect12_list2 {
	margin-right: 25px;
}
.email {
	margin-top: 100px;
}
.email input {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #b54321;
    outline: none;
    padding-left: 10px;
    color: white;
    background: none;
}
.sect12_part3 {
	padding: 0;
}
.sect12_text {
	padding: 0;
}
.sect12_text a {
	color: #b54321;
}
.hours {
	font-size: 10px;
	color: #667;
}

.sectiune2_404 {
	width: 100%;
	padding: 0;
	background-image: url(/web/proiect/img/p05.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.pos_relative {
	position: relative;
}
.opac_404 {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	bottom: 0;
}
.s404_text {
	font-size: 40px;
	color: white;
	padding-top: 200px;
	padding-bottom: 200px;
}
.input_404 {
	position: absolute;
	right: 0;
	bottom: 0;
}
.input_404 input {
	padding: 5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	outline: none;
	border: none;
}
.ooops {
	font-size: 40px;
	padding-top: 200px;
	padding-bottom: 100px;
	position: relative;
	top: 0;
}
.go_home {
	width: 85px;
	margin: auto;
	padding: 10px;
	background-color: #000000cc;
	box-sizing: border-box;
	margin-bottom: 50px;
	border-radius: 4px;
}
.go_home a {
	color: white;
}
.abs_404 {
	position: absolute;
	font-size: 200px;
	opacity: 0.2;
	top: 60%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}
.sectiune2_about {
	width: 100%;
	padding: 0;
	background-image: url(/web/proiect/img/bg07.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.sectiune2_about {
	color: white;
}
.titlu_about {
	margin-top: 200px;
}
.sect2_about_text {
	padding: 0;
	margin-bottom: 150px;
}
.short_meniu a {
	color: gray;
}
.short_meniu div {
	margin-right: 10px;
}
.short_meniu {
	padding: 10px;
	background-color: white;
	color: #000000cc;
	position: absolute;
	right: 0;
	bottom: 50px;
}
.sectiune3_about {
	margin-bottom: 50px;
	margin-top: 30px;
}
.sectiune4_about {
	color: white;
}
.sect4_about1 {
	padding: 40px 20px;
	background-image: url(/web/proiect/img/bg10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.sect4_about2 {
	padding: 40px 20px;
	background-image: url(/web/proiect/img/bg06.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.sect4_about3 {
	padding: 40px 20px;
	background-image: url(/web/proiect/img/bg13.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.sectiune5_about {
	padding: 50px 0px 50px;
}
.sect5_about_img {
	height: 300px;
	background-image: url(/web/proiect/img/img01.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.sect5_about_part2 {
	margin-bottom: 30px;
	margin-top: 30px;
}
.sect5_about_icon {
	font-size: 50px;
}
.sectiune6_about {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #e6e6e6;
}
.sectiune6_about i {
	opacity: 0.5;
}
.sect6_about_text {
	font-size: 40px;
}
.sectiune7_about {
	position: relative;
	padding: 70px 0px 30px;
	background-image: url(/web/proiect/img/bg14.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.sectiune7_about img {
	margin-bottom: 50px;
}
.sectiune8_about {
	padding: 50px 0px 50px;
}
.sect8 {
	font-size: 17px;
	padding: 0;
}
.sect8_titlu {
	padding: 0;
}
.sectiune2_contact {
	width: 100%;
	padding: 0;
	background-image: url(/web/proiect/img/bg06.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
}
.opac_contact {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
}
.sectiune3_contact {
	color: white;
}
.sect3_col {
	padding-left: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.sect3_contact_i {
	position: absolute;
	right: 10px;
	bottom: -10px;
	font-size: 70px;
	color: #667;
}
.sectiune4_contact {
	padding-top: 50px;
	padding-bottom: 50px;
}
.sect4_contact_input {
	padding: 0;
}
.sect4_contact_left {
	border: none;
	outline: none;
	background-color: #e8e4e4;
	padding: 5px;
	width: calc(50% - 10px);
	margin-right: 5px;
	margin-bottom: 10px;
}
.sect4_contact_right {
	border: none;
	outline: none;
	background-color: #e8e4e4;
	padding: 5px;
	width: calc(50% - 5px);
	margin-left: 5px;
	margin-bottom: 10px;
}
.sect4_contact_textarea {
	border: none;
	outline: none;
	background-color: #e8e4e4;
	padding: 5px;
	width: 100%;
	height: 200px;
}
.checkbox_contact {
	padding: 15px 5px;
	border: 1px solid #e8e4e4;
	width: 20%;
}
.submit_checkbox {
	margin-top: 20px;
	border: none;
	outline: none;
	padding: 10px;
	color: white;
	border-radius: 2px;
}
.sect4_contact_social_1 {
	margin-bottom: 10px;
}
.sect4_contact_social_2 {
	margin-bottom: 10px;
}
.sect4_contact_social_1:before {
	content: "455 followers";
	font-size: 10px;
	right: 0;
	position: absolute;
	top: 4px;
}
.sect4_contact_social_2:before {
	content: "505 likes";
	font-size: 10px;
	right: 0;
	position: absolute;
	top: 4px;
}
.sect4_contact_social_3:before {
	content: "250 subscribers";
	font-size: 10px;
	right: 0;
	position: absolute;
	top: 4px;
}
.sectiune4_contact a {
	color: #667;
}
.sectiune5_contact {
	margin-bottom: -5px;
}
.sectiune2_faq {
	width: 100%;
	padding: 0;
	background-image: url(/web/proiect/img/bg10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
}
.faq_marg {
	color: #667;
}
.faq_marg:hover {
	color: #b54321;
}
.meniu_faq {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
	background-color: white;
	color: black;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.meniu_faq_list {
	margin-right: 20px;
}
.sectiune3_faq {
	padding-top: 50px;
	padding-bottom: 50px;
}
.sect3_faq_part1 {
	margin-bottom: 50px;
}
.sect3_faq_text1 {
	display: none;
}
.disp_none {
	display: none;
}
.angle_up {
	display: none;
}
.faq_contact {
	background-color: #e8e4e4;
	width: 70px;
	padding: 5px;
	margin-top: 20px;
	border-radius: 2px;
}
.faq_contact a {
	color: #667;
}
.faq_tags a {
	color: #667;
}
.portofolio_meniu {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	padding: 10px 20px 10px 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.portofolio_meniu a {
	color: #667;
}
.sectiune2_portofolio {
	padding-bottom: 50px;
	padding-top: 50px;
}
.sect2_port_img1 {
	height: 600px;
	background-image: url(/web/proiect/img/p06.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
}
.sect2_port_img2 {
	height: 600px;
	background-image: url(/web/proiect/img/p01.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 10px solid white;
}
.sect2_port_img3 {
	height: 600px;
	background-image: url(/web/proiect/img/p11.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
}
.sect2_port_img4 {
	height: 600px;
	background-image: url(/web/proiect/img/p03.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 10px solid white;
}
.sect2_port_img5 {
	height: 600px;
	background-image: url(/web/proiect/img/p04.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid white;
	border-bottom: 10px solid white;
}
.sect2_port_img6 {
	height: 600px;
	background-image: url(/web/proiect/img/p05.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 10px solid white;
}
.sectiune2_team {
	padding-bottom: 50px;
	padding-top: 50px;
}
.sectiune2_team a {
	color: #667;
	margin-left: 25px;
}
.sect2_team_img1 {
	height: 300px;
	background-image: url(/web/proiect/img/team2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
}
.sect2_team_img2 {
	height: 300px;
	background-image: url(/web/proiect/img/team3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
}
.sect2_team_img3 {
	height: 300px;
	background-image: url(/web/proiect/img/team5.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 4px;
}
.sectiune3_team {
	color: white;
}
.sectiune2_services {
	width: 100%;
    padding: 0;
    background-image: url(/web/proiect/img/p03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
}
.sectiune3_services {
	padding-top: 50px;
	padding-bottom: 50px;
}
.sectiune5_services {
	margin-top: 20px;
	margin-bottom: 50px;
}
.opac_our_projects {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0
}
.sect7_img {
	padding-top: 100px;
	color: white;
	display: none;
}
.sect7_img:hover {
	cursor: pointer;
}
.scroll {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width:  40px;
	height: 40px;
	background-color: rgba(0,0,0,0.3);
	font-size: 30px;
	border-radius: 4px;
	z-index: 50;
	cursor: pointer;
}
.popup {
	width: 100%;
	height: 100%;
	position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}
.popup1 {
	width: 500px;	
	height: 500px;
	background-image: url(/web/proiect/img/team2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 5%;
    border: 5px solid white;
}
.popup2 {
	width: 100%;
	height: 100%;
	position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}
.popup_2 {
	width: 500px;	
	height: 500px;
	background-image: url(/web/proiect/img/team3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 5%;
    border: 5px solid white;
}
.popup3 {
	width: 100%;
	height: 100%;
	position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}
.popup_3 {
	width: 500px;	
	height: 500px;
	background-image: url(/web/proiect/img/team5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 5%;
    border: 5px solid white;
}
.close-this {
    color: white;
    font-size: 20px;
    top: 10px;
    right: 50px;
    position: absolute;
    cursor: pointer;
}
.burger_mobile {
	display: none;
}
.burger_meniu {
	display: none;
}
.text_burger {
	display: none;
	position: absolute;
	color: white;
	top: 50%;
	left: 15px;
	font-weight: 600;
	font-size: 30px;
	z-index: 8728970;
}




@media only screen and (max-width: 768px) {
    .header_right {
    	display: none;
    }
    .meniu {
    	background-color: #2d2c2c;
    }
    .meniu_list {
    	display: none;
    }
    .logo {
    	margin-left: 15px;
    }
    .burger_mobile {
    	margin-right: 15px;
    	color: white;
    	font-size: 25px;
    	cursor: pointer;
    }
    .burger_meniu {
    	width: 100%;
    	background-color: black;
    	position: absolute;
    	top: 55px;
    	display: none;
    }
    .burger_meniu div {
    	margin-bottom: 10px;
    }
    .burger_servicii_list {
    	width: 100%;
    	position: absolute;
    	top: 155px;
    	list-style-type: none;
    	background-color: black;
    	border-top: 1px solid #b54321;
    }
    .settings {
    	display: none;
    }
    .burger_mobile {
		display: block;
	}
	.slider_activ img {
		width: 100%;
		height: 500px;
	}
	.see_features {
		display: none;
	}
	.text_slider {
		display: none;
	}
	.text_burger {
		display: block;
	}
	.sect4_img {
		display: none;
	}
	.sect7_responsive {
		width: 100%;
		padding: 0;
		margin-top: 10px;
	}
	.sect7_responsive_bars {
		margin-left: 0;
	}
	.slider2 img {
		width: 100%;
		height: 450px;
	}
}